body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(89deg, #AA5C39 0%, #FFC4AA 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
	cursor: pointer;
}
